* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "primary-georgian-font";
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style-type: none;
}

/*Global Styles @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@font-face {
  font-family: "header-tital-font";
  src: url("../fonts/Fredoka-VariableFont_wdthwght.ttf");
}

@font-face {
  font-family: "primary-georgian-font";
  src: url("../fonts/primary-font-georgian/FiraGO-Regular.woff2")
      format("woff2"),
    url("../fonts/primary-font-georgian/FiraGO-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.max-width {
  margin: auto;
  width: min(105rem, (100% - 2rem));
}
.no-data,
.loader {
  color: rgb(212, 212, 212);
  display: flex;
  align-items: center;
  justify-content: center !important;
  padding: 2rem !important;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  animation: l1 1s linear infinite alternate;
}

@keyframes l1 {
  to {
    opacity: 0;
  }
}

.no-data {
  animation: unset;
  color: rgb(229, 227, 227);
}

/* Header Styles @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
header > h1 > a,
header > nav,
header > nav > a:last-child {
  display: flex;
  align-items: center;
}
header > h1 > a > span {
  font-family: "header-tital-font";
  font-weight: 600;
  font-size: 31px;
  color: #8338ec;
}

header > nav {
  gap: 40px;
}
.task-comments form > button,
.person-registration-modal-buttons > button,
header > nav > button,
header > nav > a {
  padding: 10px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  border: #8338ec solid 1px;
  border-radius: 5px;
  background-color: unset;
}
.task-comments form > button,
.person-registration-modal-buttons > button:last-child,
header > nav > a:last-child {
  background-color: #8338ec;
  color: white;
  border: unset;
}
.person-registration-modal-buttons > button:hover,
header > nav > button:hover {
  cursor: grab;
}
.person-registration-modal-buttons > button:active,
header > nav > button:active {
  border-color: #b588f4;
  cursor: grabbing;
}
main div {
  font-size: 30px;
  font-family: "primary-georgian-font";
  font-weight: 300;
}
/* added tasks page @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.added-tasks-page h2 {
  font-weight: 600;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 40px;
  margin-bottom: 52px;
}
.sorting-buttons {
  position: relative;
  max-width: 688px;
  height: 44px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: #dee2e6 solid 1px;
  padding: 0 18px;
}
.sorting-buttons > button {
  display: flex;
  align-items: center;
  gap: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  border: unset;
  background-color: unset;
  transition: all 0.3s;
}
.sorting-buttons > button i {
  transition: all 0.3s;
}

.sorting-drop-down-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 55px;
  background-color: white;
  z-index: 2;
  left: 0;
  width: 100%;
  min-height: 300px;
  max-width: 688px;
  border-radius: 10px;
  border: 0.5px #8338ec solid;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  gap: 25px;
}

.sorting-drop-down-modal > button {
  align-self: flex-end;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  width: 155px;
  height: 35px;
  border-radius: 20px;
  border: unset;
  background-color: #8338ec;
}
.sorting-drop-down-modal > div {
  display: flex;
  flex-direction: column;
  gap: 23.5px;
}

.sorting-drop-down-modal > div > div {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #212529;
}
.sorting-drop-down-modal > div > div label {
  cursor: pointer;
}
.sorting-drop-down-modal > div > div input {
  appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 6px;
  border-width: 1.5px;
  gap: 10px;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  border: 1.5px solid #212529;
  position: relative;
}

.sorting-drop-down-modal > div > div input[type="checkbox"]::before {
  content: "";
  background: url("/public/images/Vector.png") no-repeat center;
  font-size: 16px;
  width: 22px;
  height: 22px;
  color: white;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.sorting-drop-down-modal > div > div input[type="checkbox"]:checked::before {
  display: block;
}
.sorting-drop-down-modal > div > div > label {
  display: flex;
  align-items: center;
}
.sorting-drop-down-modal > div > div > label img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 10px;
}
/* employee registation modal @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.employee-registration-modal {
  display: flex;
  justify-content: center;
  position: absolute;
  backdrop-filter: blur(10px);
  background: #0d0f1026;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: fit-content;
  width: 100%;
  height: 100%;
  z-index: 200;
}
.employee-registration-modal .modal-content {
  max-width: 913px;
  min-height: 766px;
  background-color: #ffffff;
  margin-top: 118px;
  margin-bottom: 2rem;
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  padding-top: 40px;
  padding-right: 50px;
  padding-bottom: 60px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.employee-registration-modal .modal-content > form {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.employee-registration-modal .modal-content .modal-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 37px;
}
.employee-registration-modal .modal-content .modal-header > button {
  align-self: flex-end;
  background-color: unset;
  border: unset;
  cursor: grab;
  transition: all;
}
.employee-registration-modal .modal-content .modal-header > button:active {
  opacity: 0.7;
  cursor: grabbing;
}
.employee-registration-modal .modal-content .modal-header > h2 {
  color: #212529;
  font-weight: 1000;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.name-surname {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.name-surname > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 384px;
}
.department-buttons > div:first-child > span,
.upload-avatar > span,
.name-surname > div > label {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #343a40;
  margin-bottom: 3px;
}

.name-surname > div > input {
  width: 100%;
  border: 1px solid #ced4da;
  height: 42px;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 6px;
}
.validation {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #6c757d;
  font-weight: 350;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
}
.validation > span {
  display: flex;
  align-items: center;
  gap: 2px;
}
.validation > span > img {
  width: 16px;
  height: 16px;
}
.upload-avatar > input {
  display: none;
}
.upload-avatar > .avatar-preview,
.upload-avatar > label {
  width: 100%;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  height: 120px;
  border-radius: 8px;
  border: 1px solid #ced4da;
  border-style: dashed;
  margin-bottom: 6px;
}
.upload-avatar > label > span {
  color: #343a40;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}
.person-registration-modal-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 22px;
}

.department-buttons {
  display: flex;
  flex-direction: column;
  gap: 109px;
  position: relative;
}
.department-buttons > div:first-child {
  display: flex;
  flex-direction: column;
  max-width: 384px;
}
.department-buttons > div:first-child > .departments-drop-down-select {
  width: 100%;
  max-width: 384px;
  border: 1px solid #ced4da;
  min-height: 42px;
  max-height: 173px;
  overflow-y: auto;
  border-radius: 6px;
  position: absolute;
  top: 18px;
  left: 0;
  background-color: white;
}

.departments-drop-down-select ::-webkit-scrollbar-button {
  display: none !important;
}
.department-buttons > div:first-child > .departments-drop-down-select > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
}
.department-buttons
  > div:first-child
  > .departments-drop-down-select
  > div:first-child
  > span,
.departments-drop-down-select > span {
  color: #343a40;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 14px;
  display: block;
  position: relative;
  cursor: pointer;
}
.department-buttons
  > div:first-child
  > .departments-drop-down-select
  > div:first-child
  > span {
  padding: 0;
}
.departments-drop-down-select > div {
  padding: 14px;
}
.avatar-preview {
  cursor: default !important;
  position: relative;
}
.upload-avatar > .avatar-preview > div > img:first-child {
  width: 88px;
  height: 88px;
  border-radius: 50%;
}

.upload-avatar > .avatar-preview > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: grab;
  border-radius: 30px;
  border: 0.3px solid #6c757d;
  background-color: white;
  position: absolute;
  bottom: -4px;
  right: -4px;
}
.upload-avatar > .avatar-preview > button:active {
  cursor: grabbing;
  border: unset;
}
.upload-avatar > .avatar-preview > div {
  position: relative;
  width: 88px;
  height: 88px;
}
/* display tasks @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.display-tasks-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 52px;
}

.status-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.status-column > div:first-child {
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  text-align: center;
}
.status-column > a,
.status-column > div {
  max-width: 381px;
  width: 100%;
}
.status-column > a {
  min-height: 217px;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  padding: 20px;
}

.single-task-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 217px;
}
.single-task-card > div:first-child > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-task-card > div:first-child > div:first-child > div {
  gap: 10px;
  display: flex;
}

.single-task-card > div:first-child > div:first-child > span {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #212529;
}
.priority-dep-container > span:first-child,
.single-task-card > div:first-child > div:first-child > div > span:first-child {
  border-radius: 5px;
  gap: 4px;
  border-width: 0.5px;
  padding: 4px;
  border-style: solid;
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
}
.priority-dep-container > span:nth-child(2),
.single-task-card
  > div:first-child
  > div:first-child
  > div
  > span:nth-child(2) {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: red;
  color: white;
  align-items: center;

  display: flex;
  border-radius: 15px;
  padding-top: 5px;
  padding-right: 9px;
  padding-bottom: 5px;
  padding-left: 9px;
  gap: 10px;
}
.single-task-card > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.single-task-card > div:first-child > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.single-task-card > div:first-child > div:nth-child(2) > h3 {
  font-weight: 650;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #212529;
}
.single-task-card > div:first-child > div:nth-child(2) > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #343a40;
}

.card-image-comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #212529;
  font-size: 14px;
}
.card-image-comments > div > span {
  color: #212529;
  font-size: 14px;
}
.card-image-comments > div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.card-image-comments > img {
  width: 31px;
  height: 31px;
  font-size: 14px;
}

/* create task page @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.create-new-task {
  gap: 145px;
  max-width: 1261px;
  margin-left: 55px;
  margin-right: 55px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.create-new-task > div {
  display: flex;
  justify-content: space-between;
}
.department-and-employee-selectors > div > span,
.priority-status-selectors > div > span,
.create-new-task label {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 6px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #343a40;
  display: block;
}

.create-new-task > div > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 61px;
}

.create-new-task > div > div:first-child > div {
  display: flex;
  flex-direction: column;
}
.change-status,
.date > input,
.department-and-employee-selectors > div > div,
.priority-status-selectors > div > div,
.create-new-task > div > div:first-child > div > textarea,
.create-new-task > div > div:first-child > div > input {
  width: 100%;
  max-width: 550px;
  height: 45px;
  border-radius: 5px;
  border-width: 1px;
  padding: 14px;
  border: 1px solid #dee2e6;
  margin-bottom: 4px;
}

.create-new-task > div > div:first-child > div > textarea {
  resize: none;
  height: 133px;
}
.department-and-employee-selectors,
.create-new-task > div > div:first-child {
  max-width: 550px;
  width: 100%;
}
.priority-status-selectors {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}
.priority-status-selectors > div {
  max-width: 259px;
  width: 100%;
  display: block;
}
.priority-status-selectors > div > div {
  padding: unset;
  height: auto;
}
.change-status,
.department-and-employee-selectors > div > div > div,
.priority-status-selectors > div > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding: 14px;
}

.department-and-employee-selectors > div > div > div:first-child > i,
.priority-status-selectors > div > div > div:first-child > i {
  color: #343a40;
  font-size: 14px;
}
.selected-employee > span,
.department-and-employee-selectors > div > div > div > span,
.priority-status-selectors > div > div > div > span {
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
}
.priority-status-selectors > div > div > div > span > svg {
  margin-right: 4px;
}
.department-and-employee-selectors {
  display: flex;
  flex-direction: column;
  gap: 93px;
}
.department-and-employee-selectors > div > div {
  margin: unset;
  padding: unset;
  height: auto;
}
.selected-employee,
.department-and-employee-selectors > div > div > div {
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  gap: 5.5px;
  align-items: center;
}
.selected-employee > img,
.department-and-employee-selectors > div > div > div > img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.department-and-employee-selectors > div > div > .add-employee-button {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: grab;
}
.department-and-employee-selectors > div > div > .add-employee-button:active {
  cursor: grabbing;
}

.department-and-employee-selectors > div > div > .add-employee-button > span {
  color: #8338ec;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.change-status > div:first-child,
.department-and-employee-selectors > div > div > div:first-child {
  justify-content: space-between;
}
.department-and-employee-selectors > div > .employee-tital {
  color: #adb5bd;
}
.date {
  margin-top: 76px;
}
.date > input {
  max-width: 318px;
  color: #6c757d;
}
.create-new-task-button {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  background-color: #8338ec;
  width: 208px;
  height: 42px;
  border-radius: 5px;
  gap: 4px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border: unset;
  align-self: flex-end;
}
.department-and-employee-selectors > div > div > .employee-selecton {
  justify-content: flex-end;
}
/*task details page @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.task-detail-page-left-side {
  max-width: 715px;
}

.priority-dep-container {
  display: flex;
  gap: 18px;
}
.priority-dep-container > span {
  font-size: 16px;
}
.task-detail-page-left-side h2 {
  margin-top: 12px;
  font-weight: 700;
  color: #212529;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0%;
}
.task-small-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.task-small-details > span {
  min-height: 70px;
  color: #474747;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.task-detail-page-left-side p {
  margin-top: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  margin-bottom: 62px;
}
.task-detail-page-left-side h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2a2a2a;
  margin-bottom: 18px;
}
.employee-task-details {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 41px;
}

.employee-task-details img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.employee-task-details > div {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 1.5px;
}
.employee-task-details > div > span:first-child {
  color: #474747;
  font-weight: 300;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0%;
}
.employee-task-details > div > span:nth-child(2) {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #0d0f10;
}
.task-small-details > span:last-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #0d0f10;
}
.change-status > div {
  display: flex;
  width: 100%;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #0d0f10;
  padding: 14px;
}
.change-status {
  background-color: white;
  position: absolute;
  padding: unset;
  height: auto;
  flex-direction: column;
}
.statuses-modal-container {
  position: relative;
  height: 45px;
}

/*task comments @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.task-comments {
  border: 0.3px solid #ddd2ff;
  background-color: #f8f3fea6;
  max-width: 741px;
  width: 100%;
  min-height: 975px;
  border-radius: 10px;
  padding: 40px 45px;
}
.task-comments > p {
  color: black;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 66px;
}
.task-comments > p > span {
  background-color: #8338ec;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 30px;
  height: 22px;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task-details-container {
  display: flex;
  justify-content: space-between;
}
.task-comments form {
  width: 100%;
  height: 135px;
  position: relative;
}
.task-comments form > textarea {
  width: 100%;
  height: 135px;
  resize: unset;
  background-color: white;
  border: 0.3px solid #adb5bd;
  border-radius: 10px;
  padding: 18px 20px;
}
.comments {
  display: flex;
  flex-direction: column;
  gap: 57px;
  margin-top: 40px;
}
.task-comments form > button {
  border-radius: 20px;
  position: absolute;
  bottom: 15px;
  right: 20px;
}
.task-comments form > button:hover {
  cursor: pointer;
}
.task-comments form > span {
  color: red;
  font-size: 11px;
}

.comment-answer,
.single-comment {
  display: flex;
  gap: 12px;
}
.single-comment img {
  width: 38px;
  height: 38px;
  border-radius: 40px;
}
.comment-answer > div,
.single-comment > div {
  display: flex;
  flex-direction: column;
}
.comment-answer > div > span,
.single-comment > div > span {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #212529;
}
.comment-answer > div > p,
.single-comment > div > p {
  color: #343a40;
  font-weight: 350;
  margin-top: 8px;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.single-comment > div > button {
  color: #8338ec;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
  background-color: unset;
  border: unset;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 16px;
}
.comment-answer {
  margin-top: 20px;
}
.remove-buttons-ul {
  display: flex;
  gap: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.remove-buttons-ul li {
  padding: 6px 10px;
  border: 1px solid #ced4da;
  border-radius: 43px;
  display: flex;
  align-items: center;
  gap: 1.5px;
}
.remove-buttons-ul li span {
  color: #021526cc;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.remove-buttons-ul li button {
  background-color: unset;
  border: unset;
  display: flex;
  align-items: center;
  justify-content: center;
}
